*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
}

.dropdownv2 {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    background-color: #0abf53;
}

.dropdownv2 li {
    position: relative;
}

.dropdownv2 li a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdownv2 li ul {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    line-height: normal;
    background-color: #333;
}

.dropdownv2 li ul li a {
    text-align: left;
    color: #cccccc;
    font-size: 14px;
    padding: 10px;
    display: block;
    white-space: nowrap;
}

.dropdownv2 li ul li a:hover {
    background-color: #0abf53;
    color: #ffffff;
}

.dropdownv2 li ul li ul {
    left: 100%;
    top: 0;
}

ul li:hover>a {
    background-color: #0abf53;
    color: #ffffff !important;
}

ul li:hover>ul {
    display: block;
}