<style>
	ul {
		position: absolute;
		margin: 0;
		list-style:none;
	}

	li {
		display: inline-block;
	
		position: relative;
	}
	li:hover > ul {
		display: block;
	}
	ul ul {
		position: absolute;
		display: none;
		margin: 0;
		
	}
	ul ul li {
		display: block;
	}

	ul ul ul {
		position: absolute;
		top: 0;
		left: 100%;
	}
</style>

<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">Home</a>
	</li>
	

	<li>
		<a data-toggle="dropdown" href="#">Specifications<b class="caret"></b>
		</a>
		<ul>
			<li>
				<a data-toggle="dropdown" href="#">Bundles<b class="caret"></b>
				</a>
				<ul>
					<li>
						<a href="emr-bundle.html">EMR</a>
					</li>
					<li>
						<a href="lab-order-bundle.html">Lab Order</a>
					</li>
					<li>
						<a href="lab-result-bundle.html">Lab Result</a>
					</li>
					<li>
						<a href="lab-rejection-bundle.html">Lab Rejection</a>
					</li>
					<li>
						<a href="lab-order-bundle.html">Lab Cancellation</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	
	<li>
		<a href="artifacts.html">Artifact</a>
	</li>
	
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
</ul>      