<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">Home</a>
	</li>
	

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Specifications<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li class="dropdown">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle">Bundles<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="emr-bundle.html">EMR</a>
					</li>
					<li>
						<a href="lab-order-bundle.html">Lab Order</a>
					</li>
					<li>
						<a href="lab-result-bundle.html">Lab Result</a>
					</li>
					<li>
						<a href="lab-rejection-bundle.html">Lab Rejection</a>
					</li>
					<li>
						<a href="lab-order-bundle.html">Lab Cancellation</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	
	<li>
		<a href="artifacts.html">Artifact</a>
	</li>
	
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
</ul>      