<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<div class="container">
  <div class="dropdown">
    <a href="index.html">Home</a>
	<a data-toggle="dropdown">Technical</a>
    <ul class="dropdown-menu" xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">>
    	<li class="dropdown-header">Message Bundles</li>
    	<li>
			<a href="emr-bundle.html">EMR</a>
		</li>
		<li>
			<a href="lab-order-bundle.html">Lab Order</a>
		</li>
		<li>
			<a href="lab-result-bundle.html">Lab Result</a>
		</li>
		<li>
			<a href="lab-rejection-bundle.html">Lab Rejection</a>
		</li>
		<li>
			<a href="lab-order-bundle.html">Lab Cancellation</a>
		</li>
      <li class="divider"></li>
      <li class="dropdown-header">Something Else</li>
      <li><a href="#">Other Technical</a></li>
    </ul>
	<a href="artifacts.html">Artifact</a>
	<a href="toc.html">Table of Contents</a>
  </div>
</div>